.exchange {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.exchange-item:hover {
  cursor: pointer;
}

.exchange-item-text {
  text-transform: uppercase;
}

.source {
  margin-top: 20px;
  padding: 10px;
  min-height: 100px;
  border: 1px solid #333;
  word-break: break-all;
}
